name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  integration-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python: [ "3.6", "3.8", "3.9" ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install docker-compose -y

      - name: Start LocalStack with Docker Compose
        run: docker-compose up -d  # Spin up containers in the background

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pylint
        run: | 
          pylint --fail-under 8 app
          exitcode="$?"
          echo "exitcode=$exitcode" >> $GITHUB_OUTPUT
          exit "$exitcode"

      - name: Run BDD tests
        if: always()
        run: |
          cd bdd_tests
          behave
          cd ..

      - name: Run unit tests
        if: always()
        run: |
          python -m unittest

      - name: Run integration tests
        run: |
          pytest --maxfail=1 --disable-warnings -v
          coverage run -m pytest && coverage report -m

      - name: Teardown Docker
        if: always()
        run: docker-compose down
